@tailwind base;
@tailwind components;
@tailwind utilities;
.logo {
    width: 120px;
    height: 100px;
}

nav {
    width: 80%;
    margin: auto;
}

.overlay {
    background-color: #000000a0;
}

.hero {
    height: 85vh !important;
}

.blue-bee {
    background-image: url('/d.jpg');
    background-position: center;
    background-size: cover;
}

.feather-menu,
.feather-delete {
    width: 45px !important;
    height: 45px !important;
}

.feather-chevron-right,
.feather-chevron-left {
    width: 100px;
    height: 100px;
}

.none {
    display: none;
}

.bg-primary {
    @apply bg-amber-400;
}