@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    max-width: 1600px;
    min-width: 300px;
    margin: auto;
}

.logo {
    width: 120px;
    height: 100px;
}

nav {
    width: 80%;
    margin: auto;
}

.overlay {
    background-color: #000000a0;
}

.hero {
    height: 85vh !important;
    min-height: 360px;
}

.blue-bee {
    background-image: url('/d.jpg');
    background-position: center;
    background-size: cover;
}

.about-us-landing {
    background-image: url('/d.jpg');
    height: 50vh !important;
    min-height: 360px;
}

.projects-landing {
    background-image: url('/kitchen.jpg');
    height: 50vh !important;
    min-height: 360px;
    background-position: left;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-landing {
    background-image: url('/e.jpg');
    height: 50vh !important;
    min-height: 360px;
    background-position: bottom;
}

.feather-menu,
.feather-delete {
    width: 45px !important;
    height: 45px !important;
}
.feather-check,.feather-compass,.feather-loader{
    width: 30px;
    height: 30px;
}
.feather-chevron-right,
.feather-chevron-left {
    width: 100px;
    height: 100px;
}

